
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 2800px;
}
.menu{
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.758);
    display: flex;
}
.column{
    width: 50%;
    height: 100%;
}
.menu_column1{
    display: flex;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background-size: cover;
    overflow: hidden;
}
.name-company{
    margin-left: 20px;
    font-size: 24px;
    color: rgb(34, 255, 0);
}
a{
    text-decoration: none;
}
.preview{
    background-image: url(images/preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}
.preview-text{
    width: 100%;
    height: 200px;
    font-size: 20px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0), black);
    padding-left: 50px;
    padding-bottom: 70px;
    padding-right: 300px;
}
.preview-button{
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}
.preview-button span{
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-button .hover-text{
  opacity: 0;
}

.preview-button:hover .default-text{
  opacity: 0;
}

.preview-button:hover .hover-text{
  opacity: 1;
}
.preview-button:hover{
    transform: translateX(10px);
}
.box1{
    width: 100%;
    height: 600px;
}
.container_info{
    width: 100%;
    height: auto;
    background-image: url(images/container-background.jpg);
}
.container{
    width: 100%;
    height: 600px;
    display: flex;
    color: white;
    position: relative;
    overflow: hidden;
}
.container-text{
    width: 65%;
    height: 100%;
    font-size: 30px;
}
.container-text-go{
    padding-top: 100px;
    width: 100%;
    font-size: 50px;
    text-align: center;
}
.card-h{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
ul{
    padding-top: 15px;
    padding-left: 215px;
}
.container-image{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container{
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 600px;
    height: 500px;
}
.button-container-go{
    cursor: pointer;
    width: 500px;
    height: 100px;
    margin-top: 50px;
    font-size: 45px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
a{
    color: black;
}
.button-container-go:hover{
    transform: scale(1.2);
    background-color: greenyellow;
}
.touch_me{
    margin-left: 90px;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.map{
    border-radius: 10px;
    border: 1px solid black;
    width: 30%;
    height: 80%;
}
.company_info{
    border-radius: 10px;
    width: 60%;
    height: 80%;
    background: linear-gradient(rgb(41, 41, 41), rgb(4, 4, 4));
    display: flex;
}
.company-description{
    width: 3000px;
    height: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
}
.image-slider{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 10px;
}
.slider-track{
    display: flex;
    transition: transform 0.3s ease;
}
.slider-track img {
    width: 100%;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 10px;
  }
.slider-button{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.slider-button.prev{
    left: 0;
}
.slider-button.next{
    right: 0;
}
.office-slider{
    transform: translateX(0);
}
.review{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 24%;
}
.review-item{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 24%;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}
.review-item.active{
    transform: scale(1.2);
    z-index: 2;
}
.review1{
    background: linear-gradient(rgb(41, 41, 41), rgb(4, 4, 4));
    cursor: pointer;
}
.review2{
    background: linear-gradient(rgb(41, 41, 41), rgb(4, 4, 4));
    cursor: pointer;
}
.review3{
    background: linear-gradient(rgb(41, 41, 41), rgb(4, 4, 4));
    cursor: pointer;
}
.box1{
    border-radius: 0px;
}
.r_column{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}
.testimonials{
    padding: 20px;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}
  
.testimonial{
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}
  
.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}
  
.testimonial-content h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
  
.rating {
    color: #ffc107;
}
.video{
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    height: 600px;
}
.catalog{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tovar{
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 5px 10px rgba(0, 0, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 300px;
    background: linear-gradient(rgb(41, 41, 41), rgb(4, 4, 4));
    color: white;
}
.tovar:hover{
    transform: scale(1.05);
    box-shadow: 15px 10px 20px black;
}
.tovar img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.service-details{
    padding: 15px;
}
.service-details h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.service-details p{
    margin-bottom: 15px;
    font-size: 0.9em;
    color: #e4e4e4;
}
  
.service-price{
    font-weight: bold;
    margin-bottom: 15px;
}
  
.service-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
}
.modal:hover{
    display: block;
    opacity: 1;
  }
.modal-content{
    width: 400px;
    height: 300px;
    background: linear-gradient(rgb(233, 233, 233), rgb(153, 153, 153));
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    position: relative;
    border-radius: 10px;
}
.myForm{
    text-align: center;
    margin-top: 30px;
}
.sumbit{
    width: 200px;
    height: 40px;
    background: linear-gradient(rgb(90, 90, 90), rgb(65, 65, 65));
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 30px;
}
.close{
    color: #aaa;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.service-button:hover{
    background-color: #0056b3;
}
.footer{
    margin-top: 226px;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgb(41, 41, 41), rgb(4, 4, 4));
    display: flex;
}
.contacts{
    width: 300px;
    height: 60px;
    color: white;
    padding-left: 50px;
    padding-top: 20px;
}
.socseti{
    width: 1450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.soc{
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.soc:hover{
    transform: translateY(-5px);
}
.soc1{
    background-image: url(images/vk.png);
    background-size: cover;
}
.soc2{
    background-image: url(images/telegram.png);
    background-size: cover;
}
.soc3{
    background-image: url(images/whatsapp.png);
    background-size: cover;
}
.soc4{
    background-image: url(images/twitter.png);
    background-size: cover;
}
.soc5{
    background-image: url(images/facebook.png);
    background-size: cover;
}
.soc6{
    background-image: url(images/instagram.png);
    background-size: cover;
}







